:root {
  --cell-border-width: 3px;
  --cell-border-color: darkgrey;
}

* {
  font-family: "Pacifico", cursive;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
}

.cell {
  height: 10vh;
  width: 10vh;
  font-size: 7vh;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding-right: 0.35em;
  background-color: inherit;
}

.cell:nth-child(2) {
  border-left: solid var(--cell-border-width) var(--cell-border-color);
  border-right: solid var(--cell-border-width) var(--cell-border-color);
}

.cell:nth-child(4) {
  border-top: solid var(--cell-border-width) var(--cell-border-color);
  border-bottom: solid var(--cell-border-width) var(--cell-border-color);
}

.cell:nth-child(5) {
  border-top: solid var(--cell-border-width) var(--cell-border-color);
  border-right: solid var(--cell-border-width) var(--cell-border-color);
  border-bottom: solid var(--cell-border-width) var(--cell-border-color);
  border-left: solid var(--cell-border-width) var(--cell-border-color);
}

.cell:nth-child(6) {
  border-top: solid var(--cell-border-width) var(--cell-border-color);
  border-bottom: solid var(--cell-border-width) var(--cell-border-color);
}

.cell:nth-child(8) {
  border-left: solid var(--cell-border-width) var(--cell-border-color);
  border-right: solid var(--cell-border-width) var(--cell-border-color);
}

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-game {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background-color: inherit;
}

.settings-screen {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.449);
}
